.container-input{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-input>label{
    background-color: #C70000;
    border:1px solid black;
    color:white
}

.container-input>input,
.container-input>label
{
    font-size:20px;
    padding:5px;
 }


