.monopoly-button{
    border: none;
    background-color:#C70000;
    color:white;
    border:1px solid white;
    border-radius:6px;
    cursor: pointer;
}

.monopoly-button--small {
    font-size:15px;
    width:100px;
 }
.monopoly-button--medium {
    font-size:20px;
    width:150px;
}
.monopoly-button--large {
    font-size:30px;
    width:300px;
}