
@font-face {
  font-family:"Acme-Regular";
  src:url("./assets/fonts/Acme-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}


*{
  font-family:'Acme-Regular';
}
html{
  background-image: url("./assets/img/backgrounds/main-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  margin: 0;
}

body,#root{
  height:100%;
  margin: 0;
}