@font-face {
  font-family:"Kabel-Heavy";
  src:url("./assets/fonts/Kabel-Heavy.eot?") format("eot"),url("./assets/fonts/Kabel-Heavy.woff") format("woff"),url("./assets/fonts/Kabel-Heavy.ttf") format("truetype"),url("./assets/fonts/Kabel-Heavy.svg#Kabel-Heavy") format("svg");
  font-weight:normal;
  font-style:normal;
}


*{
  font-family:'Kabel-Heavy';
}
html{
  background-image: url("./assets/img/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  margin: 0;
}

body,#root{
  height:100%;
  margin: 0;
}